* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif, Arial, sans-serif;
  background-color: #FFEB3B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #333;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

a {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  margin-top: 1rem;
  display: block;
}

a:hover {
  color: #000;
}

.landing-container {
  text-align: center;
  width: 100%;
  max-width: 50rem;
  padding: 0 1.5em 1.5em;
}

.logo {
  width: 15rem;
  height: auto;
  margin-bottom: 1rem;
}

h1.tagline {
  font-family: 'Sora', sans-serif;
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 2rem;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem;
}

h2.description {
  font-size: 1rem;
  font-weight: 300;
}

h3 {
  font-family: 'Sora', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.instagram-link {
  display: block;
  margin-top: 1rem;
}

.instagram-link img {
  width: 2rem;
  height: 2rem;
}

hr {
  width: 80%;
  border: 0;
  border-top: 1px solid #333;
  margin: 2rem auto;
}

@media (max-width: 37.5em) {
  h1.tagline {
    font-size: 2rem;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  h2.description {
    font-size: 0.9rem;
  }

  .logo {
    width: 12rem;
  }

  p {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 25em) {
  h1.tagline {
    font-size: 1.8rem;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  h2.description {
    font-size: 0.8rem;
  }

  .logo {
    width: 10rem;
  }

  p {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 1rem;
  }
}
