/* Structure */
body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    color: #333333;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#content {
    margin: auto;
    padding: 50px 0px 100px 0px;
    width: 50%;
    text-align: center;
}

@media (max-width: 768px) {
    #content {
        width: 80%;
    }
}

@media (max-width: 480px) {
    #content {
        width: 90%;
    }
}

/* Headings */
h1 {
    font-size: 56px;
    color: #fa3c33;
    font-weight: 600;
    line-height: 1.25em;
    margin-bottom: 40px;
}

/* Lists */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li a {
    display: block;
    color: #fa3c33;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

li a:hover {
    background-color: #000;
    color: white;
}
