/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  font-family: 'Poppins', sans-serif, Arial, sans-serif;
  background-color: #000;
  color: #FFEB3B;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 5rem 0;
}

/* CONTAINER */
.landing-container {
  width: 100%;
  max-width: 50rem;
  padding: 0 1.5rem 1.5rem;
}

/* TITLE */
h1.tagline {
  font-family: 'Sora', sans-serif;
  font-size: 5.3rem;
  font-weight: 900;
  color: #FFEB3B;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 3.2rem;
}

/* RESPONSIVE TITLE */
@media (max-width: 37.5em) {
  h1.tagline {
    font-size: 2rem;
  }
}

@media (max-width: 25em) {
  h1.tagline {
    font-size: 1.8rem;
  }
}

/* FORM */
.input-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

/* TEXT FIELD */
.text-input {
  padding: 24px;
  width: 700px;
  max-width: 100%;
  font-size: 36px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* SUBMIT BUTTON */
.submit-btn {
  padding: 18px 32px;
  background-color: #FFEB3B;
  color: #333;
  border: none;
  border-radius: 8px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #333;
  color: #fff;
}
